/* line 6, scss/sass/client_wrapper.scss */
#hr_client_wrapper {
  position: fixed;
  bottom: -421px;
  right: 20px;
  height: 450px;
  width: 350px;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.75);
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 17, scss/sass/client_wrapper.scss */
#hr_client_wrapper.open {
  bottom: 0;
}
/* line 26, scss/sass/client_wrapper.scss */
#hr_client_wrapper #hr_inner {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 31, scss/sass/client_wrapper.scss */
#hr_client_wrapper #hr_inner #hr_toggle_handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 60px;
  height: 29px;
  cursor: pointer;
}
/* line 40, scss/sass/client_wrapper.scss */
#hr_client_wrapper #hr_inner iframe {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  height: 450px;
  width: 350px;
}
/* line 49, scss/sass/client_wrapper.scss */
#hr_client_wrapper #hr_inner #hr_popup {
  position: absolute;
  bottom: 8px;
  right: 14px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
