@import "compass/css3";

$height: 450px;
$width: 350px;

#hr_client_wrapper {
	position: fixed;
	bottom: -421px;
	right: 20px;
	height: $height;
	width: $width;
	z-index: 9999;
	@include box-shadow(0px 0px 8px rgba(50, 50, 50, 0.75));
	@include border-top-radius(6px);

	
	&.open {
		bottom: 0;
		#hr_inner {
			#hr_toggle_handle {
				
			}
		}
	}
	
	#hr_inner {
		position: relative;
		width: 100%;
		height: 100%;
		
		#hr_toggle_handle {
			position: absolute;
			top: 0;
			left: 0;
			right: 60px;
			height: 29px;
			cursor: pointer;
		}
	
		iframe {
			border: none;
			background: transparent;
			margin: 0;
			padding: 0;
			height: $height;
			width: $width;
		}

		#hr_popup {
			position: absolute;
			bottom: 8px;
			right: 14px;
			color: white;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 12px;
			font-weight: bold;
			text-decoration: underline;
		}
	}
}
